.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	outline: none;
}

a {
	color: inherit;
}

html,
body {
	font-family: "Cairo", sans-serif;
}

.n-input-number,
.n-date-picker {
	width: 100%;
}

.n-select[round="true"] * {
	border-radius: 15px;
	overflow: hidden;
}

.rtl,
.rtl * {
	--n-prefix-margin: 0 0 0 8px !important;
	--n-padding-single: 0 12px 0 26px !important;
	--n-padding-multiple: 3px 12px 0 26px !important;
}

.rtl .n-base-select-menu .n-base-select-option.n-base-select-option--show-checkmark {
	padding-left: calc(var(--n-option-padding-right) + 20px);
	padding-right: var(--n-option-padding-left);
}

.rtl .collapseContentPadding {
	padding-right: 10px;
}

.rtl .n-data-table .n-data-table-check-extra {
	left: -2px;
	right: unset !important;
}

.rtl .n-base-selection .n-base-suffix {
	left: 10px;
	right: unset !important;
}

.rtl .n-base-selection-tag-wrapper {
	padding: 0 0 3px 7px;
}

.rtl .n-pagination .n-pagination-item.n-pagination-item--button .n-base-icon,
.rtl .n-layout-sider .n-layout-toggle-bar,
.rtl .n-collapse .n-collapse-item .n-collapse-item__header .n-collapse-item-arrow .n-icon,
.rtl .n-switch,
.rtl .n-pagination .n-pagination-item svg,
.rtl .i-tabler\:arrow-left,
.rtl .i-tabler\:arrow-right,
.rtl .i-tabler\:chevron-left,
.rtl .i-tabler\:chevron-right,
.rtl .i-tabler\:send,
.rtl .i-tabler\:question-mark,
.rtl .i-tabler\:arrow-back-up,
.rtl .i-tabler\:arrow-forward-up {
	transform: scaleX(-1) !important;
}

.rtl .n-layout-sider .n-layout-toggle-bar {
	left: -28px;
	right: unset !important;
}

.rtl .n-menu .n-menu-item-content .n-menu-item-content__icon {
	margin-left: 8px;
	margin-right: unset !important;
}

.rtl .n-dropdown-menu .n-dropdown-option .n-dropdown-option-body {
	flex-direction: row-reverse !important;
	text-align: right !important;
}

.rtl .n-form-item .n-form-item-label {
	padding: 0 0 0 12px;
}

.ltr .collapseContentPadding {
	padding-left: 10px;
}

.n-breadcrumb .n-breadcrumb-item .n-breadcrumb-item__separator {
	margin: 0 2px !important;
}

.n-data-table .n-data-table-th .n-data-table-sorter {
	margin-right: 4px;
}

.n-upload-file-list .n-upload-file.n-upload-file--image-type .n-upload-file-info .n-upload-file-info__thumbnail img {
	overflow: hidden;
	height: 44px;
}

.n-tabs .n-tabs-nav {
	position: relative;
}

.rtl .n-tabs-rail {
	direction: ltr;
}

/* NMenu */
.n-menu .n-menu-item-content .n-menu-item-content__arrow {
	padding: 12px;
}

.ltr .n-menu .n-submenu .n-submenu-children .n-menu-item-content {
	padding-right: 18px !important;
	padding-left: 44px !important;
}

.ltr .n-layout-sider--show-content .n-submenu>.n-menu-item .n-menu-item-content {
	padding-right: 12px !important;
	padding-left: 18px !important;
}

.rtl .n-layout-sider--show-content .n-submenu .n-menu-item-content {
	padding-left: 12px !important;
}

.rtl .n-menu .n-submenu .n-submenu-children .n-menu-item-content {
	padding-left: 18px !important;
	padding-right: 44px !important;
}

/* Fix Select Menu */
.n-base-select-menu.n-base-select-menu--rtl {
	left: -48px;
}

/* Fix table resize on RTL */
.n-data-table.n-data-table--rtl .n-data-table-th .n-data-table-resize-button {
	right: unset;
	left: calc(var(--n-resizable-container-size) / 2);
}

/* Fix DataTable Selection Icon */
.n-data-table .n-data-table-th.n-data-table-th--selection .n-data-table-check-extra svg {
	transform: rotate(-90deg);
	right: 1.5px;
}

.n-data-table .n-data-table-th.n-data-table-th--selection .n-data-table-check-extra {
	right: 0;
}

.rtl .n-data-table .n-data-table-th.n-data-table-th--selection .n-data-table-check-extra svg {
	transform: scaleX(-1) rotate(-90deg);
}

.rtl .n-collapse-item-arrow .tabler-icon-chevron-right {
	transform: unset !important;
}

/* Fix DataTable RTL fixed column */
.rtl .n-data-table .n-data-table-td.n-data-table-td--fixed-right,
.rtl .n-data-table .n-data-table-th.n-data-table-th--fixed-right {
	left: 0 !important;
	right: unset !important;
}

.rtl.dark .n-data-table .n-data-table-td.n-data-table-td--fixed-right,
.rtl.dark .n-data-table .n-data-table-th.n-data-table-th--fixed-right {
	box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.24), 0 3px 6px 0 rgba(0, 0, 0, 0.18), 0 5px 12px 4px rgba(0, 0, 0, 0.12) !important;
}

.rtl.light .n-data-table .n-data-table-td.n-data-table-td--fixed-right,
.rtl.light .n-data-table .n-data-table-th.n-data-table-th--fixed-right {
	box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04) !important;
}

.rtl .n-data-table .n-data-table-td.n-data-table-td--fixed-left,
.rtl .n-data-table .n-data-table-th.n-data-table-th--fixed-left {
	right: 0 !important;
	left: unset !important;
}

.rtl.dark .n-data-table .n-data-table-td.n-data-table-td--fixed-left,
.rtl.dark .n-data-table .n-data-table-th.n-data-table-th--fixed-left {
	box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.24), 0 3px 6px 0 rgba(0, 0, 0, 0.18), 0 5px 12px 4px rgba(0, 0, 0, 0.12) !important;
}

.rtl.light .n-data-table .n-data-table-td.n-data-table-td--fixed-left,
.rtl.light .n-data-table .n-data-table-th.n-data-table-th--fixed-left {
	box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04) !important;
}

.n-notification-container.n-notification-container--scrollable.n-notification-container--top-right {
	top: 70px;
}

.light .internalRichEditor {
	--gray-1: rgba(61, 37, 20, 0.05);
	--gray-2: rgba(61, 37, 20, 0.08);
	--gray-3: rgba(61, 37, 20, 0.12);
}

.dark .internalRichEditor {
	--gray-1: rgba(255, 255, 255, 0.14);
	--gray-2: rgba(255, 255, 255, 0.08);
	--gray-3: rgba(255, 255, 255, 0.35);
}

.drawerSpin {
	position: absolute;
	top: 51px;
	left: 0;
	width: 100%;
	height: calc(100vh - 51px - 67px);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffffc4;
	z-index: 1;
}

.dark .drawerSpin {
	background: #00000021 !important;
}

/* Fix NDropdown|NPopover|NDatePicker|NCascader RTL */
.v-binder-follower-content:has(> .n-base-select-menu.n-base-select-menu--rtl) {
	left: 47px;
}

.rtl .v-binder-follower-content:has(> .n-popover-shared),
.rtl .v-binder-follower-content:has(> .n-date-panel) {
	left: 0;
}

.rtl .n-cascader-menu .n-cascader-option {
	padding: 0 18px 0 0;
}

/* Fix image height in NUpload */
.n-upload-file-list .n-upload-file.n-upload-file--image-type .n-upload-file-info .n-upload-file-info__thumbnail img {
	height: 100%;
}

.n-menu.n-menu--vertical:not(.n-menu--collapsed) .n-menu-item-group-title{
	display: none;
}

.ghost {
	opacity: 0.4;
}

/* HTML Editor */
.ProseMirror-focused,
.ProseMirror:focus {
  outline: none;
}

.externalRichEditor {
  max-height: 250px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid rgb(224, 224, 230);
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
}


.light .internalRichEditor {
  --gray-1: rgba(61, 37, 20, 0.05);
  --gray-2: rgba(61, 37, 20, 0.08);
  --gray-3: rgba(61, 37, 20, 0.12);
}

.dark .internalRichEditor {
  --gray-1: rgba(255, 255, 255, 0.14);
  --gray-2: rgba(255, 255, 255, 0.08);
  --gray-3: rgba(255, 255, 255, 0.35);
}

.ProseMirror,
.internalRichEditor {
  min-height: 100px;
}

.internalRichEditor {
  min-height: 100px;
  padding: 15px;
  width: 100%;
}

.externalRichEditor:hover,
.externalRichEditor:focus {
  border-color: rgb(var(--primaryColor));
}

.dark .externalRichEditor {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  resize: vertical;
}

.internalRichEditor a {
  color: rgb(var(--primaryColor));
  text-decoration: underline;
  cursor: pointer;
}

.internalRichEditor img {
  display: block;
  height: auto;
  margin: 1.5rem 0;
  max-width: 100%;
}

.internalRichEditor .ProseMirror-selectednode {
  outline: 3px solid rgb(var(--primaryColor));
}


.internalRichEditor:first-child {
  margin-top: 0;
}

.internalRichEditor table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.internalRichEditor table td,
.internalRichEditor table th {
  border: 1px solid var(--gray-3);
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
}

.internalRichEditor table td > *,
.internalRichEditor table th > * {
  margin-bottom: 0;
}

.internalRichEditor table th {
  background-color: var(--gray-1);
  font-weight: bold;
  text-align: left;
}

.internalRichEditor table .selectedCell:after {
  background: var(--gray-2);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.internalRichEditor table .column-resize-handle {
  background-color: rgb(var(--primaryColor));
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
}

.internalRichEditor table .tableWrapper {
  margin: 1.5rem 0;
  overflow-x: auto;
}

.internalRichEditor table .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

#tableCard {
	background: none;
}

.n-form-item .n-form-item-blank {
  align-items: start;
}

.assetContainer {
	position: relative;
	border-radius: 15px 15px 0 0;
	overflow: hidden;
}

.assetActions {
	position: absolute;
	top: 5px;
	z-index: 9;
	right: 5px;
}

.rtl .assetActions {
	right: unset;
	left: 5px;
}

.asset,
.assetActionsButton {
	cursor: pointer;
}

.assetActionsButton {
	background: rgb(var(--primaryColor));
	padding: 4px;
	border-radius: 50%;
	box-shadow: 0 0 8px #00000035;
}

.asset img {
  object-fit: cover !important;
}

.asset,
.asset img,
.asset .icon {
	width: 100%;
	height: 100px;
	border-radius: 15px;
}

.assetDrawer .asset,
.assetDrawer .asset img,
.assetDrawer .asset .icon {
	height: 200px;
}

.dark .asset {
	background: rgb(179 179 179 / 10%);
}

.light .asset {
	background: rgb(0 0 0 / 5%);
}

.asset:hover {
	opacity: .8;
}

.asset .icon {
	color: rgb(var(--primaryColor))
}

@media (max-width: 768px) {
	#tableCard > .n-card-header {
		flex-direction: column;
		gap: 8px;
	}
}

@media print {
	* {
		max-height: unset !important;
		color: #000 !important;
	}

	.n-icon {
		fill: #000 !important;
		color: #000 !important;
	}

	.printable-parent * {
		visibility: visible !important;
	}

	.printable-parent {
		background: #fff !important;
		box-shadow: none !important;
		overflow: visible !important;
		padding: 0 !important;
		margin: 0 !important;
		width: 100% !important;
		max-width: unset !important;
		height: 100% !important;
		max-height: unset !important;
	}

	#container {
		top: 0 !important;
		height: 100vh !important;
	}

	.printable {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		z-index: 9999989999 !important;
	}

	.printable-direct-parent {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		height: 100% !important;
	}

	#iniHeader,
	.printable-direct-parent~*,
	.printable-direct-parent+*,
	.printable-direct-parent>*:not(.printable) {
		display: none !important;
	}
}