a {
  text-decoration: none !important;
}

.n-input-number,
.n-date-picker {
  width: 100%;
}

.rich-editor {
  border: 1px solid #efeff2;
  border-radius: 10px;
  padding: 15px;
  width: calc(100% - 32px);
}

.dark .rich-editor {
  border-color: #2d2d31;
}

.rtl,
.rtl * {
  /* --n-label-padding: 0 0 0 12px !important; */
  --n-prefix-margin: 0 0 0 8px !important;
  --n-padding-single: 0 12px 0 26px !important;
  --n-padding-multiple: 3px 12px 0 26px !important;
}

.rtl .n-data-table .n-data-table-check-extra {
  left: -4px;
  right: unset !important;
}

.rtl .n-base-selection .n-base-suffix {
  left: 10px;
  right: unset !important;
}

.rtl .n-pagination .n-pagination-item.n-pagination-item--button .n-base-icon,
.rtl .n-layout-sider .n-layout-toggle-bar,
.rtl .n-collapse .n-collapse-item .n-collapse-item__header .n-collapse-item-arrow .n-icon,
.rtl .n-switch,
.rtl .tabler-icon-arrow-right,
.rtl .tabler-icon-chevron-right {
  transform: scaleX(-1) !important;
}

.rtl .n-input-group {
  flex-direction: row-reverse !important;
}

.rtl .n-layout-sider .n-layout-toggle-bar {
  left: -28px;
  right: unset !important;
}

.rtl .n-menu .n-menu-item-content .n-menu-item-content__icon {
  margin-left: 8px;
  margin-right: unset !important;
}

.rtl .n-dropdown-menu .n-dropdown-option .n-dropdown-option-body {
  flex-direction: row-reverse !important;
  text-align: right !important;
}

.n-breadcrumb .n-breadcrumb-item .n-breadcrumb-item__separator {
  margin: 0 2px !important;
}

.masonry {
  column-count: 1;
  column-gap: 1rem;
  width: 100%;
}

.masonry>* {
  break-inside: avoid;
  margin-bottom: 1rem;
  position: relative;
}

@media only screen and (min-width: 869px) and (max-width: 1200px) {
  .masonry {
    columns: 2;
  }
}

@media only screen and (min-width: 1201px) {
  .masonry {
    columns: 3;
  }
}

.n-tabs .n-tabs-nav {
  position: relative;
}

.n-data-table .n-data-table-th .n-data-table-sorter {
  margin-right: 4px;
}

.n-upload-file-list .n-upload-file.n-upload-file--image-type .n-upload-file-info .n-upload-file-info__thumbnail img {
  overflow: hidden;
  height: 44px;
}