a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
}

a {
	color: inherit;
}

html,
body {
	font-family: "Cairo Variable", sans-serif;
}

.n-input-number,
.n-date-picker {
	width: 100%;
}

.rtl,
.rtl * {
	/* --n-label-padding: 0 0 0 12px !important; */
	--n-prefix-margin: 0 0 0 8px !important;
	--n-padding-single: 0 12px 0 26px !important;
	--n-padding-multiple: 3px 12px 0 26px !important;
}

.rtl
	.n-base-select-menu
	.n-base-select-option.n-base-select-option--show-checkmark {
	padding-left: calc(var(--n-option-padding-right) + 20px);
	padding-right: var(--n-option-padding-left);
}

.rtl .collapseContentPadding {
	padding-right: 10px;
}

.rtl .n-data-table .n-data-table-check-extra {
	left: -4px;
	right: unset !important;
}

.rtl .n-base-selection .n-base-suffix {
	left: 10px;
	right: unset !important;
}

.rtl .n-base-selection-tag-wrapper {
	padding: 0 0 3px 7px;
}

.rtl .n-pagination .n-pagination-item.n-pagination-item--button .n-base-icon,
.rtl .n-layout-sider .n-layout-toggle-bar,
.rtl
	.n-collapse
	.n-collapse-item
	.n-collapse-item__header
	.n-collapse-item-arrow
	.n-icon,
.rtl .n-switch,
.rtl .n-pagination .n-pagination-item svg,
.rtl .tabler-icon-arrow-left,
.rtl .tabler-icon-arrow-right,
.rtl .tabler-icon-chevron-left,
.rtl .tabler-icon-chevron-right,
.rtl .tabler-icon-send,
.rtl .tabler-icon-question-mark,
.rtl .tabler-icon-arrow-back-up,
.rtl .tabler-icon-arrow-forward-up {
	transform: scaleX(-1) !important;
}

.rtl .n-input-group {
	flex-direction: row-reverse !important;
}

.rtl .n-layout-sider .n-layout-toggle-bar {
	left: -28px;
	right: unset !important;
}

.rtl .n-menu .n-menu-item-content .n-menu-item-content__icon {
	margin-left: 8px;
	margin-right: unset !important;
}

.rtl .n-dropdown-menu .n-dropdown-option .n-dropdown-option-body {
	flex-direction: row-reverse !important;
	text-align: right !important;
}

.rtl .n-form-item .n-form-item-label {
	padding: 0 0 0 12px;
}

.ltr .collapseContentPadding {
	padding-left: 10px;
}

.n-breadcrumb .n-breadcrumb-item .n-breadcrumb-item__separator {
	margin: 0 2px !important;
}

.n-data-table .n-data-table-th .n-data-table-sorter {
	margin-right: 4px;
}

.n-upload-file-list
	.n-upload-file.n-upload-file--image-type
	.n-upload-file-info
	.n-upload-file-info__thumbnail
	img {
	overflow: hidden;
	height: 44px;
}

.n-tabs .n-tabs-nav {
	position: relative;
}

.rtl .n-tabs-rail {
	direction: ltr;
}

/* NMenu */
.n-menu .n-menu-item-content .n-menu-item-content__arrow {
	padding: 12px;
}

.ltr .n-menu .n-submenu .n-submenu-children .n-menu-item-content {
	padding-right: 18px !important;
	padding-left: 44px !important;
}

.ltr
	.n-layout-sider--show-content
	.n-submenu
	> .n-menu-item
	.n-menu-item-content {
	padding-right: 12px !important;
	padding-left: 18px !important;
}

.rtl .n-layout-sider--show-content .n-submenu .n-menu-item-content {
	padding-left: 12px !important;
}

.rtl .n-menu .n-submenu .n-submenu-children .n-menu-item-content {
	padding-left: 18px !important;
	padding-right: 44px !important;
}

/* Hide table resize on RTL */
.n-data-table.n-data-table--rtl .n-data-table-th .n-data-table-resize-button {
	display: none;
}

.n-notification-container.n-notification-container--scrollable.n-notification-container--top-right {
	top: 70px;
}